#gallary
{
float:left;
clear:both;
width:100%;
}
#left
{
width:40%;
float:left;
}
#right
{
width:40%;
float:left;
}
.item
{
width:20%;
height:50px;
border:#666666 solid 1px;
margin:5px 5px;
float:left;
}
