#写真のフォルダを反映しない
#子フォルダに記入
#user_name

#コンフファイルを反映しない
conf/conf.php

#backupfileを反映しない
*.bak
\#*\#

#apaceh
!.htaccess
!.htpasswd

#生成ファイル
Yourexcel.html
admin/Yourexcel.html
cron/mail.log

*upload/attach/*
upload/*
user_name/*
gaizi.log