#user_name
#コンフファイルを反映しない
conf/conf.php

#backupfileを反映しない
*.bak
\#*\#

#apaceh
!.htaccess
!.htpasswd

#生成ファイル
Yourexcel.html
admin/Yourexcel.html
cron/mail.log
admin/_staff_login.log

*upload/attach/*
upload/*
gaizi.log
cache/*
_uaLog/*
admin/_staff_log/*
admin/_staff_logs/*
_user_logs/*
.htaccess
.htpasswd

#fuel
fuel/app/logs/*
fuel/app/config/db.php
.DS_Store
fuel/app/tests/fixture