@charset "utf-8";

body {
	background: #FFF;
	margin: 0;
	padding: 0;
	color: #4C4C4C;
	font-family: "メイリオ", "Meiryo";
	font-size: 8px;
	line-height: 1.4;
}
body * {
	font-size: 100%;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
p {
	margin-bottom: 1.1em;
	margin-top: 0;
}
#main p.lastNode {
	margin-bottom: 0;
}
a:link img, a:visited img {
	border: none;
}
div.clearFloat {
	clear: both;
	font-size: 0;
	height: 0;
	line-height: 0px;
}
li.clearFloat {
	clear: both;
}
ul.symbolList {
	display: inline;
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.AbsWrap {
	position: relative;
	width: 100%;
}
.rowWrap {
	width: 100%;
}
#Div {
	left: 0px;
	position: absolute;
	top: -2px;
	margin-bottom: 0;
	background-color: #dfeaf5;
	width: 500px;
	padding-top: 0px;
	height: 500px;
}
html > body #Div {
	height: 500px;
	min-height: 500px;
}
#Div2 {
	left: 14px;
	position: absolute;
	top: 63px;
	margin-bottom: 0;
	background-color: #c3d1e4;
	width: 160px;
	padding-top: 0px;
	height: 35px;
}
html > body #Div2 {
	height: auto;
	min-height: 36px;
}
#Div3 {
	left: 14px;
	position: absolute;
	top: 63px;
	margin-bottom: 0;
	background-color: #fff;
	width: 470px;
	padding-top: 0px;
	height: 429px;
}
html > body #Div3 {
	height: auto;
	min-height: 430px;
}
.Txt_yomi {
	font-family: '小塚ゴシック Pr6N R', Arial, Helvetica, sans-serif;
	font-size: 180%;
	text-align: left;
	color: #221f1f;
	line-height: 150%;
	padding-bottom: 2px;
	padding-top: 1px;
	left: 18px;
	position: absolute;
	top: 65px;
	margin-bottom: 0;
}
#Div4 {
	left: 174px;
	position: absolute;
	top: 99px;
	margin-bottom: 0;
	background-color: #fff;
	width: 310px;
	padding-top: 0px;
	height: 303px;
}
html > body #Div4 {
	height: auto;
	min-height: 304px;
}
#Div5 {
	left: 14px;
	position: absolute;
	top: 99px;
	margin-bottom: 0;
	background-color: #fff;
	width: 160px;
	padding-top: 0px;
	height: 357px;
}
html > body #Div5 {
	height: auto;
	min-height: 358px;
}
#Div6 {
	left: 174px;
	position: absolute;
	top: 403px;
	margin-bottom: 0;
	background-color: #254192;
	width: 310px;
	padding-top: 0px;
	height: 89px;
}

	#select_sss
		{
		left: 5px;
		position:absolute;
		top: 5px;
		bottom:5px;
		margin-bottom: 0;
		padding-top: 0px;
		background-color:#FFFFFF;
		}
	#seach2 {
	left: 91px;
	position: absolute;
	top: 21px;
	height: 23px;
	margin-bottom: 0;
	width: 140px;
}

#clear {
	left: 233px;
	position: absolute;
	top: 21px;
	height: 23px;
	margin-bottom: 0;
	width: 70px;
}
#close {
	left: 233px;
	position: absolute;
	top: 46px;
	height: 23px;
	margin-bottom: 0;
	width: 70px;
}
#ok {
	left: 91px;
	position: absolute;
	top: 46px;
	height: 23px;
	margin-bottom: 0;
	width: 140px;
}

html > body #Div6 {
	height: auto;
	min-height: 90px;
}
#Div7 {
	left: 182px;
	position: absolute;
	top: 408px;
	margin-bottom: 0;
	background-color: #fff;
	width: 80px;
	padding-top: 0px;
	height: 79px;
}
html > body #Div7 {
	height: auto;
	min-height: 80px;
}

#select {
	left: 182px;
	position: absolute;
	top: 408px;
	margin-bottom: 0;
	background-color: #fff;
	width: 80px;
	padding-top: 0px;
	height: 79px;
}

#Div8 {
	left: 14px;
	position: absolute;
	top: 457px;
	margin-bottom: 0;
	background-color: #c3d1e4;
	width: 160px;
	padding-top: 0px;
	height: 35px;
}
html > body #Div8 {
	height: auto;
	min-height: 36px;
}



#Div10 {
	left: 0px;
	position: absolute;
	top: -2px;
	margin-bottom: 0;
	background-color: #ffffff;
	width: 100px;
	padding-top: 0px;
}
html > body #Div10 {
	height: 500px;
	min-height: 500px;
}


#guiji_title {
	left: 0px;
	position: absolute;
	top: 0px;
	height: 59px;
	margin-bottom: 0;
	width: 500px;
}
#imput {
	left: 14px;
	position: absolute;
	top: 63px;
	height: 26px;
	margin-bottom: 0;
	width: 160px;
}
#ans_title {
	left: 174px;
	position: absolute;
	top: 63px;
	height: 36px;
	margin-bottom: 0;
	width: 310px;
}
#imput_comment {
	left: 14px;
	position: absolute;
	top: 89px;
	height: 10px;
	margin-bottom: 0;
	width: 160px;
}
/*#seach2 {
	left: 267px;
	position: absolute;
	top: 425px;
	height: 23px;
	margin-bottom: 0;
	width: 140px;
}
#clear {
	left: 409px;
	position: absolute;
	top: 425px;
	height: 23px;
	margin-bottom: 0;
	width: 70px;
}
#close {
	left: 409px;
	position: absolute;
	top: 448px;
	height: 23px;
	margin-bottom: 0;
	width: 70px;
}
#ok {
	left: 267px;
	position: absolute;
	top: 449px;
	height: 23px;
	margin-bottom: 0;
	width: 140px;
}
*/#search {
	left: 47px;
	position: absolute;
	top: 465px;
	height: 23px;
	margin-bottom: 0;
	width: 96px;
}
