@charset "UTF-8";
/* CSS Document */



*{
	margin: 0;
	padding: 0;
}
img {
	border: 0;
	vertical-align: bottom;
}

/*font-family 文字化けしてたたけ削除*/
body {
	background: #FFF;
	margin: 0;
	padding: 0;
	color: #4C4C4C;

	font-size: 12px;
	line-height: 1.4;
}

h1 {
	color: #FFF;
	font-size: 14px;
	float: left;
}

h2 {
	font-size: 14px;
	font-weight: bold;
	color: #2252A3;
	background-color: #E1ECF7;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #3681CB;
	height: 18px;
	padding-top: 1px;
	padding-bottom: 3px;
	padding-left: 5px;
	margin-bottom: 15px;
}
h3 {
	font-size: 14px;
	color: #2353A3;
}
h4 {
	font-size: 14px;
	font-weight: bold;
	color: #2252A3;
	background-color: #FFFFFF;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #3681CB;
	height: 18px;
	padding-top: 1px;
	padding-bottom: 3px;
	padding-left: 5px;
	margin-bottom: 15px;
}
table {
	table-layout:fixed;
	width:100%;
} 

a:link {
	color:#347FCB;
	text-decoration: none;
}
a:link.underline {
	color:#347FCB;
	text-decoration: underline;
}

a:visited {
	color: #347FCB;
	text-decoration: none;
}
a:hover, a:active, a:focus {
	color: #26A9CA;
	text-decoration: underline;
}

br { letter-spacing : normal; }

p {
	padding-right: 8px;
	padding-bottom: 3px;
	padding-left: 8px;
	padding-top: 0px;
	clear: both;
}


hr.style1 {
   border:solid #000;
   border-width:1px 0 0 0;
   border-color: #097fbd;
   height:1px;/* for IE6 */
   clear:both;/* for IE6 */
} 

#wrapper{
	text-align: left;
	width: 100%;
	margin: 0 auto;
}



#header{
	height: 60px;
	width:1200px;
	/*width:100%;*/
	background-color: #FFF;
	background-image: url(../img/common/header_bg.jpg);
	background-repeat: no-repeat;
	background-position: right;
	margin: 0px;
	padding: 0px;
}

#header_support{
	height: 60px;
	width:600px;
	/*width:100%;*/
	background-color: #FFF;
	margin: 0px;
	padding: 0px;
}

#topnavi{
	width:1200px;
	height: 150px;
	background-color: #3681CB;
	padding-top: 3px;
	padding-right: 0;
	padding-bottom: 5px;
	padding-left: 5px;
	height: 17px;
	margin-bottom: 15px;
	overflow: hidden;
}

#container{
	width: 100%;
	float: right;
	margin-left: -185px;
}

#contents{
	width:1035px;
	position: relative;
	margin-right: 5px;
	margin-bottom: 0;
	margin-left: 170px;
	padding: 0;
}

#sidebar{
	width: 160px;
	float: left;
	padding-left: 5px;
}

#stuffname {
	list-style: none;
	width: 148px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #3681CB;
	border-right-color: #3681CB;
	border-left-color: #3681CB;
	padding-top: 5px;
	padding-bottom: 10px;
}
#stuffname_txt {
	list-style: none;
	padding: 10px;
}

#footer{
	clear: both;
	width: 100%;
	color: #FFF;
	font-size: 10px;
	font-weight: bold;
	background-color: #3681CB;
	text-align: center;
	padding:5px 0px;
}



#footer p{
	height: 15px;
	height: 14px;
	padding-top: 1px;
	padding-bottom: 1px;
}

#undernavi{
	clear: both;
	/*width: 100%;*/
	text-align: left;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-left: 5px;
}
#top_btn {
	float: right;
	padding-right: 15px;
	margin: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
#top_imgbox {
	float: left;
}

.top_img01 {
	display: block;
	margin-bottom: 5px;
}
.top_img02 {
	display: block;
}
#top_search_view {
	float: left;
	padding-left: 20px;
	width: 410px;
	font-size: 12px;
}

.top_searchbox1{
	
	background-color: #ECF4FB;
	padding: 5px;
	width: 420px;
}
.top_searchbox2 {
	width: 420px;
	padding-top: 8px;
	padding-right: 5px;
	padding-bottom: 8px;
	padding-left: 5px;
}


#undernavi p{
	padding: 0.5em 0;
}


ul#footer_navigation{
	clear: both;
	margin-top: 0px;
	margin-bottom: 0px;
}

#footer_navigation li{
	display:inline;
	margin: 0px;
	padding: 0px;
	color: #3681CB;
	font-size: 11px;
}

.iframe_information {
	border: 0px;
	padding-bottom: 25px;
	height: 65px;
	width: 100%;
}

.iframe_news {
	border: 1px solid #3681CB;
	height: 120px;
	width: 100%;
	margin-bottom: 25px;
	margin-top: 25px;
}

.box1 {
	padding-top: 5px;
	padding-bottom: 5px;
	float: right;
	width: 100%;
}
.box2 {
	float: left;
	padding-left: 20px;
}
.box3 {
	float: right;
	clear: both;
	padding-right: 20px;
	text-align: right;
}

.box4{
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #3681CB;
	border-bottom-color: #3681CB;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	margin-bottom: 5px;

}
.box5 {
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
}

/*
.box5 {
	background-color: #ECF4FB;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}
*/
.box6 {
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
}
.box5 :hover{background-color: #ECF8FB;font-size:15x;}
.box6 :hover{background-color: #ECF8FB;font-size:15x;}
.box_table {
	
	margin-top: 10px;
	margin-bottom: 20px;
}




.txt1 {
	color: #3780CB;
}
.txt2 {
	font-size: 14px;
	font-weight: bold;
	color: #2252A3;
	padding-top: 5px;
	padding-left: 5px;
	padding-bottom: 8px;
}
.txt3 {
	font-size: 12px;
}

.date1 {
	float: left;
	width: 100px;
	margin: 0px;
	background-image: url(../img/common/arrow1.gif);
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
	background-repeat: no-repeat;
	background-position: 1px 1px;
	padding-top: 1px;
}
.date2 {
	float: left;
	width: 100px;
	margin: 0px;
	background-image: url(../img/common/arrow2.gif);
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
	background-repeat: no-repeat;
	background-position: 1px 1px;
	padding-top: 1px;
}


ul.nav {
	list-style: none;
	border: 1px solid #3681CB;
	width: 148px;
}
ul.nav li {
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 8px;
	padding-left: 0px;
}
ul.nav li.hotelrule {
	padding-top: 13px;
	padding-bottom: 4px;
}
ul.nav a, ul.nav a:visited {
}
ul.ul1 {
	list-style-type: none;
	margin: 0px;
	padding-right: 20px;
	padding-bottom: 0px;
	padding-left: 20px;
	padding-top: 0px;
}

ul.ul1 li {
	list-style-type: none;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
}

ul.ul2 {
	list-style-type: none;
	margin: 0px;
	color: #F00;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 20px;
	padding-left: 5px;
}
ul.ul2 li {
	list-style-type: none;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
	margin: 0px;
}

ul.ul3 {
	list-style-type: none;
	margin: 0px;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 20px;
	padding-left: 5px;
}
ul.ul3 li {
	list-style-type: none;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 5px;
	margin: 0px;
	padding-left: 0px;
}
/*-------------------------------------------------------------*/
.bottom_line_box {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #3681CB;
	margin-bottom: 10px;

}
.sekiji_table {
	width: 500px;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid #3681CB;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
}
.sekiji_table2 {
	width: 600px;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid #3681CB;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
}
.sekiji_table_L {
	width: 450px;
	border: 1px solid #3681CB;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
	margin-left: 60px;
}
.bottom_right_bt {
	width: 637px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 10px;
	padding-bottom: 10px;
}
.bottom_left_bt {
	width: 637px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 10px;
	padding-bottom: 10px;
}
.navi {
	float: left;
}
.navi2 {
	border-bottom: 2px solid #00327d;
	padding-bottom: 36px;
}
#message_BOX {
	border: 1px solid #315CA1;
	padding: 20px;
}
#message_detail_BOX {
	margin-right: auto;
	margin-left: auto;
	border: 1px solid #3681CB;
}
#login_BOX {
	width: 500px;
	border: 1px solid #3681CB;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-right: auto;
	margin-left: auto;
}
#login_midashi {
	background-color: #D3E3F3;
	font-size: 120%;
	color: #3681CB;
	font-weight: bold;
}
#login_IDarea {
	width: 300px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}
#login_bt {
	width: 300px;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 20px;
}
.page_next {
	text-align: right;
	color: #3681CB;
	padding-right: 20px;
	font-weight: bold;
}
.announcement{
  color:#2252A3;
}
